Edwin Vargas <edwinn.dev@gmail.com> <95403626+edwinndev@users.noreply.github.com>
Edwin Vargas <edwinn.dev@gmail.com> Edwin <edwinn.dev@gmail.com>
Kevin More Sandoval <kevinjesusmoresandoval@gmail.com> Kevin Jesus More Sandoval <kevinjesusmoresandoval@gmail.com>
Jairo Joseph Yarleque Cornejo <jairoyc1356@gmail.com> JJ724Yc <jairoyc1356@gmail.com>
Jairo Joseph Yarleque Cornejo <jairoyc1356@gmail.com> Jairo Jospeh Yarleque Cornejo <jairoyc1356@gmail.com>
Rudy Davis <rudydavisrd2054@gmail.com> rudydavisrd2054-gif <rudydavisrd2054@gmail.com>
Rudy Davis <rudydavisrd2054@gmail.com> u22206503 <u22206503@utp.edu.pe>
